.control-center {
  background: rgba(20, 31, 75, 0.2);
  border: 2px solid rgba(100, 114, 125, 0.5);
}

.notification-group {
  background-color: transparent;
  outline: none;
}

.widget-buttons-grid {
  background-color: rgba(0, 0, 0, 0.1);
}

.widget-volume {
  background-color: rgba(0, 0, 0, 0.1);
}

.widget-backlight {
  background-color: rgba(0, 0, 0, 0.1);
}

trough slider {
  background-color: white;
  background-image: none;
}

button {
  background-color: rgba(255, 255, 255, 0.1);
}

button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
