.control-center {
  background: rgba(20, 31, 75, 0.2);
  border: 2px solid rgba(100, 114, 125, 0.5);
}


.notification-group {
  background-color: transparent;
  outline: none;
}

/* .notification { */
/*   background-color: #1e1e2e; */
/*   border: 2px solid #89b4fa; */
/*   border-radius: 10px; */
/*   padding: 10px; */
/*   margin: 10px; */
/* } */
/**/
/* /* Notification title */ */
/* .notification .notification-content .summary { */
/*   color: #cdd6f4; */
/*   font-weight: bold; */
/* } */
/**/
/* /* Notification body text */ */
/* .notification .notification-content .body { */
/*   color: #a6adc8; */
/* } */
/**/
/* /* Close button */ */
/* .close-button { */
/*   background-color: #f38ba8; */
/*   border-radius: 5px; */
/*   color: #1e1e2e; */
/* } */
/**/
